
Chnword/Chnword.xcodeproj/project.xcworkspace/xcuserdata/khtc.xcuserdatad/UserInterfaceState.xcuserstate

Chnword/Chnword.xcodeproj/xcuserdata/khtc.xcuserdatad/xcschemes/xcschememanagement.plist

Chnword/Chnword.xcodeproj/project.xcworkspace/xcuserdata/khtc.xcuserdatad/UserInterfaceState.xcuserstate
